{% extends 'base.html' %}

{% block css %}{% endblock %}

{% block js %}{% endblock %}

{% block content %}
<h2>Profile list:</h2>
<div>
    <ul>
        {% for profile in profiles %}
            <li>
                {{profile.fname}} {{profile.lname}} | <a href="">
                    edit
                </a> <a href="">
                    delete
                </a>
            </li>
        {% empty %}
            <li>No profile yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}